@import "tailwindcss";
@import "tw-animate-css";

:root {
	font-family: "Space Grotesk", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	line-height: 1;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	scroll-behavior: smooth;
}

@theme {
	--color-theme-black: #191A23;
	--color-theme-green: #B9FF66;
	--color-theme-gray: #F3F3F3;
}

@layer utilities {
	.mx-container {
		@apply container mx-auto px-4;
	}

	.floating-nav {
		@apply rounded-2xl shadow-2xl bg-white;
	}
}

@keyframes accordion-up {
	from {
		height: var(--radix-accordion-content-height);
	}

	to {
		height: 0;
	}

}